<rc-header></rc-header>

<ion-content>
  <p>Dear First Aid responder</p>
  <p>We would like to start by thanking you in advance for filling out our First Aid survey. By continuously providing us
    with information on your First Aid interventions, you are contributing towards making this world a safer and better
    place. </p>
  <p>Starting from the next screen, you will be presented with a survey that will ask you to answer questions about the
    setting, location, type of injury, type of intervention and the arrival of any professional help during the First Aid
    intervention you are currently reporting on. Furthermore, we shall also ask a limited set of demographical questions
    which might have an influence on your knowledge of First Aid. These include gender, age, educational level and whether
    you have any prior knowledge of First Aid. </p>
  <p>No risk is involved in contributing to this study. Your participation is free of charge and know that you can quit
    the survey at any time without any risks to your person. Your answers will be processed anonymously and we will not
    attempt to monetize them by selling information to third parties. </p>
  <p>Your answers shall be used as input for an ongoing scientific study about the effectiveness of First Aid in general
    and the First Aid training programmes run by the Red Cross specifically. This might in the future lead to a scientific
    publication of the data in aggregated form. By clicking on Next, you agree to these conditions and are ready to help
    us improve our First Aid offering.</p>
  <p>Thank you yet again for taking the time to contribute and helping to build a better world. </p>
</ion-content>

<rc-navigator currentPage="0" (prev)="prev()" (next)="next()"></rc-navigator>