<ion-content>
  <div class="container">
    <div></div>
    <div>
      <img class="logo" src="assets/images/logo/Logo_Belgian_RC.png">
      <div class="text">
        <p>Dear First Aid responder</p>
      <p>Thank you for taking the time out of your busy day to report on your First Aid intervention. We would like to
        express our gratitude for actively using your First Aid knowledge to protect the people around you and for
        enabling the Red Cross to continuously improve the support and training that people like you deserve to make a
        difference out there in the field. </p>
      <p>Know that we are proud of you. We hope that you will keep reporting your first aid interventions to us in the
        future and would like you to serve as a proud ambassador for the Red Cross First Aid trainings programme.
        Together we can create a better world.</p>
      </div>
    </div>
    <button class="restartButton" (click)="restart()">Back to start &gt; </button>
  </div>

</ion-content>