<rc-header></rc-header>

<ion-content>
  <ion-text>
    <div class="title-text">
      <h3>What type of injury?</h3>
      <p>With this question we would like to determine which injuries most commonly occur and we can better help to keep people safe</p>
    </div>
  </ion-text>

  <rc-error [error]="'Please choose one or more injuries.'" [showError]='showError'></rc-error>

  <rc-tiles [tiles]='injuryTiles' [selectMultiple]='true'></rc-tiles>
</ion-content>

<rc-navigator currentPage="3" (prev)="prev()" (next)="next()"></rc-navigator>